<div align="center">
<img src="assets/images/burger.jpg" alt="Burger" id="burger">
<h1>Eat-Da-Burger</h1>
</div>
<div id="not_devoured">
<h2>Burgers that are not devoured</h2>
<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
{{!--       <li>
        {{burger_name}}
        <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour it!{{else}}Unneeded button{{/if}}
        </button>
      </li> --}}
    {{/unless}}
  {{/each}}
</ol>
</div>
<h2>Burgers that are devoured</h2>
<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
{{!--       <li>
        {{burger_name}}
        <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour it!{{else}}Unneeded button{{/if}}
        </button>
      </li> --}}
    {{/if}}
  {{/each}}
</ol>
<form class="create-form">
  <div align="center" class="form-group">
    <input type="text" id="burg" name="burger_name">
  </div>
  <div align="center" class="form-group">
    {{!-- <input type="radio" name="devoured" value="1" checked> Devoured<br> --}}
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>
  <div align="center">
  <button type="submit">Submit</button>
  <p>Enter the name of a burger that you want to devour, and click the Submit button.</p>
  </div>
</form>